<html>
  <head>
    <title>Nope as a service</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
      <link rel="stylesheet" type="text/css" href="/static/main.css" />
    </head>
<body>
  <main role="main" class="container">
    <div class="jumbotron">
      <h1>{{ .noPhrase}}</h1>
      <a href="https://github.com/morgulbrut/noaas">Fork me on github</a>
    </div>
  </main>
  <main role="main" class="container">

    <div class="starter-template">
      <h1>Nope as a service </h1>
      <p class="lead">
        Because sometimes you just need some nope.
      </p>
      <p>
        Using <b>curl</b> you can get the nope as plaintext or json:
        <pre>curl nope-aas.herokuapp.com/text</pre>
        or
        <pre>curl nope-aas.herokuapp.com/json</pre>
      </p>
      -->
    </div>

  </main><!-- /.container -->

</body>
</html>
